<% layout('/layouts/default.html', {title: 'shop_order管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(shopOrder.isNewRecord ? '新增shop_order' : '编辑shop_order')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${shopOrder}" action="${ctx}/shop/shopOrder/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="rowid"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('userid')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="userid" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('orderids')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="orderids" maxlength="111" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('orderstatus')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="orderstatus" maxlength="4" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('createtime')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="createtime" readonly="true" maxlength="20" class="form-control laydate"
									dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('ordermoney')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ordermoney" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('yunfei')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="yunfei" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('addresstext')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="addresstext" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('phones')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="phones" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('names')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="names" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('paytype')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="paytype" maxlength="41" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('callbackid')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="callbackid" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('notes')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="notes" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('parame1')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="parame1" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('parame2')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="parame2" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('parame3')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="parame3" maxlength="415" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('updatetime')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="updatetime" readonly="true" maxlength="20" class="form-control laydate"
									dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('istixing')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="istixing" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('wuliuname')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="wuliuname" maxlength="45" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('wuno')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="wuno" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('senddate')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="senddate" readonly="true" maxlength="20" class="form-control laydate"
									dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('商家留言')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="xuniorderid" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('xunimonry')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="xunimonry" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('城市')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="isjiesuan" maxlength="45" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('isjiesuan2')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="isjiesuan2" maxlength="45" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('ysfs')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ysfs" maxlength="45" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('ips')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ips" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('yhjid')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="yhjid" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('yhjbh')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="yhjbh" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('miusmoney')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="miusmoney" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('bussinessid')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="bussinessid" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('paytime')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="paytime" readonly="true" maxlength="20" class="form-control laydate"
									dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('peijian1')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="peijian1" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('peijian2')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="peijian2" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('serverlist')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="serverlist" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('servertime')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="servertime" readonly="true" maxlength="20" class="form-control laydate"
									dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('zhaopian')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="zhaopian" maxlength="4511" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('kaipiao')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="kaipiao" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('isservice')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="isservice" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('delstatus')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="delstatus" maxlength="4" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('的')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="kangzzhongcall" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('lon')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="lon" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('lat')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="lat" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('wcsj')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="wcsj" readonly="true" maxlength="20" class="form-control laydate"
									dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('wcdd')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="wcdd" maxlength="111" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('isprints')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="isprints" maxlength="4" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('shop:shopOrder:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>