<% layout('/layouts/default.html', {title: 'shop_bbs管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('shop_bbs管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('shop:shopBbs:edit')){ %>
					<a href="${ctx}/shop/shopBbs/form" class="btn btn-default btnTool" title="${text('新增shop_bbs')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${shopBbs}" action="${ctx}/shop/shopBbs/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('分类')}：</label>
					<div class="control-inline">
						<#form:input path="fenlei" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('内容')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="900" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('标题')}：</label>
					<div class="control-inline">
						<#form:input path="title" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('标签')}：</label>
					<div class="control-inline">
						<#form:input path="adminTag" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('昵称')}：</label>
					<div class="control-inline">
						<#form:input path="nick" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('头像')}：</label>
					<div class="control-inline">
						<#form:input path="avatar" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('图片')}：</label>
					<div class="control-inline">
						<#form:input path="picUrl" maxlength="451" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('图集')}：</label>
					<div class="control-inline">
						<#form:input path="imageList" maxlength="8000" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('创建时间')}：</label>
					<div class="control-inline">
						<#form:input path="createtime" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("分类")}', name:'fenlei', index:'a.fenlei', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/shop/shopBbs/form?rowid='+row.rowid+'" class="btnList" data-title="${text("编辑shop_bbs")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("内容")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("标题")}', name:'title', index:'a.title', width:150, align:"left"},
		{header:'${text("标签")}', name:'adminTag', index:'a.admin_tag', width:150, align:"left"},
		{header:'${text("昵称")}', name:'nick', index:'a.nick', width:150, align:"left"},
		{header:'${text("头像")}', name:'avatar', index:'a.avatar', width:150, align:"left"},
		{header:'${text("图片")}', name:'picUrl', index:'a.pic_url', width:150, align:"left"},
		{header:'${text("图集")}', name:'imageList', index:'a.image_list', width:150, align:"left"},
		{header:'${text("创建时间")}', name:'createtime', index:'a.createtime', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('shop:shopBbs:edit')){ %>
				actions.push('<a href="${ctx}/shop/shopBbs/form?rowid='+row.rowid+'" class="btnList" title="${text("编辑shop_bbs")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/shop/shopBbs/delete?rowid='+row.rowid+'" class="btnList" title="${text("删除shop_bbs")}" data-confirm="${text("确认要删除该shop_bbs吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>