<% layout('/layouts/default.html', {title: 'tab_anquanyuan管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('tab_anquanyuan管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('tab:tabAnquanyuan:edit')){ %>
					<a href="${ctx}/tab/tabAnquanyuan/form" class="btn btn-default btnTool" title="${text('新增tab_anquanyuan')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tabAnquanyuan}" action="${ctx}/tab/tabAnquanyuan/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('工地id')}：</label>
					<div class="control-inline">
						<#form:input path="contructionId" maxlength="111" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工地名称')}：</label>
					<div class="control-inline">
						<#form:input path="contructionName" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('承建方')}：</label>
					<div class="control-inline">
						<#form:input path="bys" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工种')}：</label>
					<div class="control-inline">
						<#form:input path="workType" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('人员姓名')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工号')}：</label>
					<div class="control-inline">
						<#form:input path="workId" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('身份证号')}：</label>
					<div class="control-inline">
						<#form:input path="idCard" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('手机号')}：</label>
					<div class="control-inline">
						<#form:input path="phone" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('地址')}：</label>
					<div class="control-inline">
						<#form:input path="address" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('所属公司')}：</label>
					<div class="control-inline">
						<#form:input path="companyId" maxlength="111" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户编号')}：</label>
					<div class="control-inline">
						<#form:input path="userid" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('createtime')}：</label>
					<div class="control-inline">
						<#form:input path="createtime" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('登录名称')}：</label>
					<div class="control-inline">
						<#form:input path="logincode" maxlength="45" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("工地id")}', name:'contructionId', index:'a.contruction_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/tab/tabAnquanyuan/form?rowid='+row.rowid+'" class="btnList" data-title="${text("编辑tab_anquanyuan")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("工地名称")}', name:'contructionName', index:'a.contruction_name', width:150, align:"left"},
		{header:'${text("承建方")}', name:'bys', index:'a.bys', width:150, align:"left"},
		{header:'${text("工种")}', name:'workType', index:'a.work_type', width:150, align:"left"},
		{header:'${text("人员姓名")}', name:'name', index:'a.name', width:150, align:"left"},
		{header:'${text("工号")}', name:'workId', index:'a.work_id', width:150, align:"left"},
		{header:'${text("身份证号")}', name:'idCard', index:'a.id_card', width:150, align:"left"},
		{header:'${text("手机号")}', name:'phone', index:'a.phone', width:150, align:"left"},
		{header:'${text("地址")}', name:'address', index:'a.address', width:150, align:"left"},
		{header:'${text("所属公司")}', name:'companyId', index:'a.company_id', width:150, align:"left"},
		{header:'${text("用户编号")}', name:'userid', index:'a.userid', width:150, align:"left"},
		{header:'${text("createtime")}', name:'createtime', index:'a.createtime', width:150, align:"center"},
		{header:'${text("登录名称")}', name:'logincode', index:'a.logincode', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('tab:tabAnquanyuan:edit')){ %>
				actions.push('<a href="${ctx}/tab/tabAnquanyuan/form?rowid='+row.rowid+'" class="btnList" title="${text("编辑tab_anquanyuan")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/tab/tabAnquanyuan/delete?rowid='+row.rowid+'" class="btnList" title="${text("删除tab_anquanyuan")}" data-confirm="${text("确认要删除该tab_anquanyuan吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>