<% layout('/layouts/default.html', {title: 'tab_order_gwc管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(tabOrderGwc.isNewRecord ? '新增tab_order_gwc' : '编辑tab_order_gwc')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${tabOrderGwc}" action="${ctx}/tab/tabOrderGwc/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="rowid"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('userid')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="userid" maxlength="45" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('productid')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="productid" maxlength="45" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('nums')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="nums" maxlength="11" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('parame1')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="parame1" maxlength="45" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('parame2')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="parame2" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('createtime')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="createtime" readonly="true" maxlength="20" class="form-control laydate"
									dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('bussinessid')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="bussinessid" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('guige')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="guige" maxlength="45" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('ischeck')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ischeck" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('gwctype')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="gwctype" maxlength="451" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('itempirce')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="itempirce" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('tab:tabOrderGwc:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>